<head>
    <meta charset="UTF-8">
    <div style="" class="topnav">
        <a href="/customerPage">Min side</a>
        <a class="active" href="/myBookings">Mine undervisningstimer</a>
        <a href="/lessonsCustomer">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log ud</a>
        </li>

    </div>


    <!--Skal have henvisning så den henter "title" fra js. filen.-->
</head>
