<head>
    <meta charset="UTF-8">

    <div class="topnav">
        <a class="active" href="/adminPage">Opret undervisningstime</a>
        <a href="/lessonsAdmin">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log ud</a>
        </li>    </div>

    <h1> Opret undervisningstime</h1>

</head>

