<head>
    <meta charset="UTF-8">
    <div style="" class="topnav">
        <a href="/customerPage">My Page</a>
        <a class="active" href="/myBookings">My Bookings</a>
        <a href="/lessonsCustomer">All lessons</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>

    </div>


    <!--Skal have henvisning så den henter "title" fra js. filen.-->
</head>
