<head>
    <meta charset="UTF-8">

    <div class="topnav">
        <a class="active" href="/adminPage">Create lesson</a>
        <a href="/lessonsAdmin">All lessons</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>    </div>



</head>

