<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <div class="topnav">
        <a class="active" href="/adminSite">Opret undervisningstime</a>
        <a href="/classSiteAdmin">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="Login">Log af</a>
        </li>    </div>

        <h1> Opret undervisningstime</h1>

</head>
<style>
    /* Her har vi lavet en navigationslinje/bar ved hjælp af eksemplet i denne kilde: https://www.w3schools.com/howto/howto_js_topnav.asp
    /* Add a black background color to the top navigation */
    .topnav {
        overflow: hidden;
        background-color: #4C4480;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navLogOut {
        float: right !important;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #C43796;
        color: white;
    }
</style>
<body>

<br>

<text>Title:</text>

    <input
            type="text"
            id="Title"
            value=""
            placeholder=Title
            name="Title"
            required="true">

<br>
<br>
     Locales:

    <input
            type="text"
            id="Locales"
            value="Room 500"
            placeholder="Locales"
            name="Locales"
            required="true">
    <br>


    <br>
    Maximum participants:
    <input
            type="number"
            id="Participants"
            value="20"
            placeholder="Participants"
            name="Participants"
            required="true">
    <br>
    <br>
    Teachers:
    <input
            type="text"
            id="Teachers"
            value="Lela"
            placeholder="Teachers"
            name="Teachers">
    <br>



  <br>


      Date:
<input
        id="day"
        type="number"
        value = "02"

        size="4"
        placeholder="day"
/>



  <select id="month">
      <option value="" selected="selected">Month</option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>

  </select>


  <select id="year">
      <option value="" selected="selected">Year</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>

  </select>




<input
        type="number"
        id="Hour"
        value="19"
        placeholder="Hour"
        name="Hour"
>


<input
        type="number"
        id="Minute"
        value="30"
        placeholder="Minute"
        name="Minute"
>


    <br>


<br>
    Duration:
<select id="duration hours">
    <option value="" selected="selected">-Antal timer-</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>

</select>

<select id="duration minutes">
    <option value=""  selected="selected">-Antal minutter-</option>
    <option value="0">0</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
    <option value="60">60</option>

</select>

<br>
<br>
    <br>
    <br>
    <input
        id="createLesson_btn"
        type="submit"
        value="Opret undervisningstime"/>


<br>
<script>
    document.getElementById("createLesson_btn").addEventListener("click", function() {
        let obj = { Title: document.getElementById("Title").value,
            Locales: document.getElementById("Locales").value,
            Participants: document.getElementById("Participants").value,
            Teachers: document.getElementById("Teachers").value ,
            Time: `${document.getElementById("Hour").value}-${document.getElementById("Minute").value}-${document.getElementById("day").value}-${document.getElementById("month").value}-${document.getElementById("year").value}`,
            Duration: `${document.getElementById("duration hours").value}-${document.getElementById("duration minutes").value}`,

        }
        let values = Object.values(obj)
        let names = Object.getOwnPropertyNames(obj)


        console.log(obj)
        console.log(names)
        let alertmessage = "Please fill out or correct these fields:"
        let counter = 0

        for(let i=0;i<values.length;i++) {
            if(i==0||i==1||i==2||i==3) {
                if (values[i] == "") {
                    counter++
                    alertmessage += `\n ${counter}: Fill out your ${names[i]} `


                }
            }

        }

        if(values[4].length<16){
            counter++
            alertmessage += `\n ${counter}. Fill out your date `
        }
        if(values[5].length<4){
            counter++
            alertmessage += `\n ${counter}. Fill out your dutation `
        }





        if (counter>0){
            return alert(alertmessage)
        }

        let params = JSON.stringify(obj)
        console.log(params)
        fetch('/registerLesson/'+params,{method: 'POST'}).then((res)=>{

            return res.text();
        })
            .then((data)=> {
                console.log(data);
                if (data == "error") {
                    alert("Lesson doesn't have an unique username")
                } else {

                    // Create session cookie here, for continous authentication
                    alert(`Lesson ${document.getElementById("Title").value} has been created`);
                    return window.location.replace("/adminSite")
                } })
            .catch((e)=>{
                console.log(e.name+"\n"+e.description);
            });

    })




</script>


</body>
</html>