<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="kasper()">
<br>
<script>
    function kasper () {
        var x = document.cookie
        console.log(x)
        if(x.includes(";")) {
            var getQuery = x.split(';');
            console.log(getQuery)
            console.log(getQuery.length)
            for(i=0;i<getQuery.length;i++){
                if(getQuery[i].includes("username")){
                    var username = getQuery[i].split("=")[1]
                    console.log(username)
                }
            }
        } else {
            var username = x.split("=")[1]
        }
        console.log(username)

        fetch("/getuserinfo/" + username).then((res) => {
            return  res.json();
        }).then((data) =>{
            var parent = document.getElementById("output");
            console.log(data[Object.keys(data)[0]])
            for(i=0;i<Object.keys(data).length;i++){
                if(i==0||i==9||i==7||i==8){
                    console.log("Ignore I in loop")
                } else{
                    // Text
                    var div1 = document.createElement("div");
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(Object.keys(data)[i]));

                    div1.appendChild(p);
                    // Value
                    var div2 = document.createElement("div");
                    var input = document.createElement("input");
                    input.id = i
                    input.value = data[Object.keys(data)[i]]
                    input.appendChild(document.createTextNode(data[Object.keys(data)[i]]));
                    div2.appendChild(input);
                    parent.appendChild(div1);
                    parent.appendChild(div2);
                }}
            var div5 = document.createElement("div");
            var button = document.createElement("button");
            button.addEventListener("click", function() {
                let array = [username]
                //[1,10,9,8,7]
                for(j=1;j<7;j++){
                   console.log(j)
                        let value1 =  document.getElementById(j).value
                        if(value1==""){
                            console.log("Hej")
                        } else{
                            array.push(value1)
                        }

                }
                console.log(array)
                let stringed = JSON.stringify(array)
                console.log(stringed)
                fetch('/changeuserinfo/'+stringed,{method: 'PUT'}).then(function(response) {
                    if(response.ok){
                        console.log("Click was recorded");
                        document.cookie = `username=${array[6]}`
                        return  window.location.replace("/MyPageUser")
                    }
                    throw new Error('Request failed')
                }).catch(function(error){
                    console.log(error)
                })
            })
            button.appendChild(document.createTextNode("Ændre information"));
            div5.appendChild(button);
            parent.appendChild(div5);
        }).catch((e) => {
            console.log(e);
        })}
</script>






<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
<br>


</body>
</html>