<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="changeLesson()">
<br>
<script>
    function changeLesson () {
        let cookieInfo = document.cookie
        console.log(cookieInfo)
        if(cookieInfo.includes(";")) {
            for(i=0;i<cookieInfo.split(';').length;i++){
                if(cookieInfo.split(';')[i].includes("lesson")){
                    var lessonValue = cookieInfo.split(';')[i].split("=")[1]
                }
            }
        } else {
            var lessonValue = cookieInfo.split("=")[1]
        }
        console.log(lessonValue);

        fetch("/changelessoninfo/" + lessonValue).then((res) => {
            return  res.json();
        }).then((data) =>{
            var parent = document.getElementById("output");

            for(i=0;i<Object.keys(data).length;i++){
                if(i==8 ||i==1||i==0||i==9){
                    console.log(`Ignore ${i} in loop`)
                } else if(i==6){
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Time of day:"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode(""));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Hour"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select1"
                    for(j=0;j<24;j++) {

                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`
                            option.text = `0${j}`
                            console.log(data[Object.keys(data)[i]].substring(3,5))
                            if(`0${j}`==data[Object.keys(data)[i]].substring(3,5)) {
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(3,5)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }

                    div3.appendChild(select);
                    parent.appendChild(div3)
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Minute"));

                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select2"
                    for(j=0;j<60;j+=5) {

                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`
                            option.text = `0${j}`
                            console.log(data[Object.keys(data)[i]].substring(6,8))
                            if(`0${j}`==data[Object.keys(data)[i]].substring(6,8)) {
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(6,8)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }

                    div3.appendChild(select);
                    parent.appendChild(div3)
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Date:"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode(""));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Day"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select3"
                    for(j=1;j<32;j++) {

                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`
                            option.text = `0${j}`
                            console.log(data[Object.keys(data)[i]].substring(13,15))
                            if(`0${j}`==data[Object.keys(data)[i]].substring(13,15)) {
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(13,15)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }
                    div3.appendChild(select);
                    parent.appendChild(div3)
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Month"));

                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select4"
                    for(j=1;j<13;j++) {

                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`
                            option.text = `0${j}`
                            console.log(data[Object.keys(data)[i]].substring(16,18))
                            if(`0${j}`==data[Object.keys(data)[i]].substring(16,18)) {

                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(16,18)) {

                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }

                    div3.appendChild(select);
                    parent.appendChild(div3)

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Year"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select5"
                    for(j=2019;j<2023;j++) {

                        var option = document.createElement("option");
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(19,23)) {

                                option.selected = true
                            }
                        select.appendChild(option);
                    }
                    div3.appendChild(select);
                    parent.appendChild(div3)

                } else if(i==7){
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Duration:"));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode(""));
                    div5.appendChild(p3);
                    parent.appendChild(div5);

                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Hour"));

                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select6"
                    for(j=0;j<3;j++) {

                        var option = document.createElement("option");
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(0,1)) {

                                option.selected = true
                            }

                        select.appendChild(option);
                    }

                    div3.appendChild(select);
                    parent.appendChild(div3)
                    var div5 = document.createElement("div");
                    var p3 = document.createElement("p");
                    p3.appendChild(document.createTextNode("Minute"));

                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    div5.appendChild(p3);
                    parent.appendChild(div5);
                    var div3 = document.createElement("div")
                    var select = document.createElement("select")
                    select.id = "select7"
                    for(j=0;j<60;j+=5) {

                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`
                            option.text = `0${j}`
                            console.log(data[Object.keys(data)[i]].substring(2,4))
                            if(`0${j}`==data[Object.keys(data)[i]].substring(2,4)) {
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`
                            option.text = `${j}`
                            if(`${j}`==data[Object.keys(data)[i]].substring(2,4)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }

                    div3.appendChild(select);
                    parent.appendChild(div3)

                }else{
                    // Text
                    var div1 = document.createElement("div");
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(Object.keys(data)[i]));
                    div1.appendChild(p);

                    // Value
                    var div2 = document.createElement("div");
                    var input = document.createElement("input");
                    input.id = i
                    input.value = data[Object.keys(data)[i]]
                    input.appendChild(document.createTextNode(data[Object.keys(data)[i]]));
                    div2.appendChild(input);

                    parent.appendChild(div1);
                    parent.appendChild(div2);
                }}


            var div5 = document.createElement("div");
            var button = document.createElement("button");


            button.addEventListener("click", function() {
                let obj = { Title: document.getElementById("2").value,
                    Locales: document.getElementById("3").value,
                    Participants: document.getElementById("4").value,
                    Teachers: document.getElementById("5").value,
                    Time: `KL ${document.getElementById("select1").value}.${document.getElementById("select2").value} ---  ${document.getElementById("select3").value}-${document.getElementById("select4").value}-${document.getElementById("select5").value}` ,
                    Duration: `${document.getElementById("select6").value}.${document.getElementById("select7").value}`
                }
                let values = Object.values(obj)
                let names = Object.getOwnPropertyNames(obj)
                let alertmessage = "Please fill out or correct these fields:"
                let counter = 0

                for(let i=0;i<values.length;i++) {
                    if(i==0||i==1||i==3) {
                        if (values[i] == "") {
                            counter++
                            alertmessage += `\n ${counter}: Fill out your ${names[i]} `


                        }
                    }

                }
                if(isNaN(document.getElementById("4").value)||document.getElementById("4").value==""){
                    console.log(document.getElementById("2").value.length)
                    counter++
                    alertmessage += `\n ${counter}. Your Participants must be a number `
                }
                if (counter>0){
                    return alert(alertmessage)
                }

                fetch('/changelessoninfomation/'+JSON.stringify([lessonValue, obj]),{method: 'PUT'}).then((res)=>{

                    return res.text();
                })
                    .then((data)=> {
                        console.log(data);
                        if (data == "error") {
                            alert("Lesson doesn't have an unique title")
                        } else {

                            // Create session cookie here, for continous authentication

                            return window.location.replace("/classSiteAdmin")
                        } })
                    .catch((e)=>{
                        console.log(e.name+"\n"+e.description);
                    });
            })
            button.appendChild(document.createTextNode("Ændre information"));
            div5.appendChild(button);
            parent.appendChild(div5);
        }).catch((e) => {
            console.log(e);
        })}
</script>

<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
<br>


</body>
</html>