<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="" class="topnav">
        <a href="/myPageUser">Min side</a>
        <a href="/myClasses">Mine undervisningstimer</a>
        <a class="active" href="/classSiteUser">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="Login">Log af</a>
        </li>
     </div>
    <h1 id="h1">Undervisningstimer</h1>

    <!--Skal have henvisning så den henter "title" fra js. filen.-->
    </head>

<style>
    /* Her har vi lavet en navigationslinje/bar ved hjælp af eksemplet i denne kilde: https://www.w3schools.com/howto/howto_js_topnav.asp
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #4C4480;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navLogOut {
        float: right!important;

    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #C43796;
        color: white;
    }
</style>

<br>


<body onload="kasper()">
<br>
<script>
    function kasper () {



        fetch("http://localhost:3000/lessonInfo").then((res) => {
            return  res.json();
        }).then((data) =>{
            /* document.getElementById("navn").innerHTML = data.Navn;
             document.getElementById("fødselsÅr").innerHTML = data.Birthday;
             document.getElementById("køn").innerHTML = data.Gender;
             document.getElementById("telefonNr").innerHTML = data.MobilNummer;
             document.getElementById("email").innerHTML = data.Email;
             document.getElementById("username").innerHTML = data.Username;

     */
            var parent = document.getElementById("output");


            for(i=0;i<Object.keys(data).length;i++){

                // Text
                var div1 = document.createElement("div");
                var p = document.createElement("p");
                p.appendChild(document.createTextNode(Object.keys(data)[i]));
                div1.appendChild(p);

                // Value
                var div2 = document.createElement("div");
                var p = document.createElement("p");
                p.appendChild(document.createTextNode(data[Object.keys(data)[i]]));
                div2.appendChild(p);

                parent.appendChild(div1);
                parent.appendChild(div2);
            }
        }).catch((e) => {
            console.log(e);
        })
    }

</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>



</html>