<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header_Customer') -%>
<%- include('layouts/style') -%>

<body onload="getLessonInfo()">
<br>

    <script type="text/javascript"  >
        function getLessonInfo () {
                fetch("http://localhost:3000/findLessonsCustomer").then((res) => {
                return  res.json();
                }).then((data) =>{

                var parent = document.getElementById("output");
                let listOfID = []

                for(var j = 0; j< data.length; j++) {

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode("Lektion!!"));
                    parent.appendChild(h1);

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode(""));
                    parent.appendChild(h1);


                    console.log(Object.keys(data[j]));



                    for(let i = 0;i<Object.keys(data[j]).length;i++){
                            if(i==0){
                            console.log(data[j][Object.keys(data[j])[i]])

                            } else if(i==8||i==7) {
                            console.log(`Ignore ${i} in loop`)
                            } else {

                            // Text
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(Object.keys(data[j])[i]));
                            parent.appendChild(p);

                            // Value
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(data[j][Object.keys(data[j])[i]]));
                            parent.appendChild(p);

                            console.log(data[j][Object.keys(data[j])[i]])
                        }
                    }
                    var div = document.createElement("div");
                    var button = document.createElement("button");


console.log(listOfID)
                    button.id = data[j][Object.keys(data[j])[0]];
                    button.addEventListener("click", function() {
                        console.log(typeof(this.id))
                     /*   if(data[this.name][lessonPropertyNames[0]].includes(cookieUsername)){
                            return alert("You cannot book the same lesson twice")
                        }*/

                        fetch('/createBooking/'+this.id,{method: 'POST'}).then((res)=>{
                            return res.text();
                            }).then((data)=> {
                            console.log(data)

                            if(data=="The Lesson is fully booked"){
                            return alert(data);
                            }

                            if(data=="You cannot book the same Lesson twice"){
                            return alert(data)
                            }

                            alert(`You have booked the lesson called ${data}`)
                            window.location.replace("/myBookings")

                        }).catch(function(error){
                            console.log(error)
                        })
                    })

                    button.appendChild(document.createTextNode("Book lektion"));
                    div.appendChild(button);
                    parent.appendChild(div);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(""));
                    parent.appendChild(p);
                }
            }).catch((e) => {
                console.log(e);
            })
        }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>
</html>
