<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="" class="topnav">
        <a href="/customerPage">Min side</a>
        <a href="/myBookings">Mine undervisningstimer</a>
        <a class="active" href="/lessonsCustomer">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log ud</a>
        </li>

     </div>
    <h1 id="h1">Undervisningstimer</h1>

    <!--Skal have henvisning så den henter "title" fra js. filen.-->
    </head>

<style>
    /* Her har vi lavet en navigationslinje/bar ved hjælp af eksemplet i denne kilde: https://www.w3schools.com/howto/howto_js_topnav.asp
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #4C4480;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navLogOut {
        float: right!important;

    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #C43796;
        color: white;
    }
</style>

<br>


<body onload="getLessonInfo()">
<br>

    <script type="text/javascript"  >
        function getLessonInfo () {
            fetch("http://localhost:3000/findLessonsCustomer").then((res) => {
                return  res.json();
            }).then((data) =>{

                var parent = document.getElementById("output");
                let listOfLessons = []
                let listOfID = []

                for(var j = 0; j< data.length; j++) {

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode("Lektion!!"));
                    parent.appendChild(h1);

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode(""));
                    parent.appendChild(h1);

                    let lessonPropertyNames = [ "_id", "Title", "Room", "Participants","Teacher" , "Time", "Duration", "Timestamp","_v"];

                    listOfLessons.push(data[j][lessonPropertyNames[2]])
                    console.log(listOfLessons)

                    for(let i = 0;i<Object.keys(data[j]).length;i++){
                        if(i==0){
                            console.log(data[j][lessonPropertyNames[i]])
                            listOfID.push(data[j][lessonPropertyNames[i]])
                        } else if(i==8||i==7) {
                        console.log(`Ignore ${i} in loop`)}    else
                         {
                            // Text
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(Object.keys(data[j])[i]));
                            parent.appendChild(p);

                            // Value
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(data[j][lessonPropertyNames[i]]));
                            parent.appendChild(p);

                            console.log(data[j][lessonPropertyNames[i]])
                        }
                    }
                    var div = document.createElement("div");
                    var button = document.createElement("button");


                    button.id = listOfLessons[j]
                    button.name = j
                    button.addEventListener("click", function() {
                        console.log(this.name)
                     /*   if(data[this.name][lessonPropertyNames[0]].includes(cookieUsername)){
                            return alert("You cannot book the same lesson twice")
                        }*/

                        fetch('/createBooking/'+JSON.stringify(listOfID[this.name]),{method: 'PUT'}).then((res)=>{

                            return res.text();
                        })
                            .then((data)=> {
                            console.log(data)
if(data=="error"){
    alert("You cannot book the same lesson twice")
}
                if(data=="error2"){
                    alert("The lesson is fully booked")
                }
                           else{
                                console.log("Click was recorded");
                                return window.location.replace("/lessonsCustomer")
                            }
                        }).catch(function(error){
                            console.log(error)
                        })
                    })

                    button.appendChild(document.createTextNode("Book lektion"));
                    div.appendChild(button);
                    parent.appendChild(div);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(""));
                    parent.appendChild(p);
                }
            }).catch((e) => {
                console.log(e);
            })
        }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>
</html>
