<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header_Admin') -%>
<%- include('layouts/style') -%>

<h1>All lessons</h1>
<br>

<body onload="classSiteAdmin()" >
<br>

<script type="text/javascript">
    function classSiteAdmin () {
        fetch("http://localhost:3000/findLessonsAdmin").then((res) => {
            return res.json();
        }).then((data) =>{
            var parent = document.getElementById("output");
            let lessonIds = []
            for(var j = 0; j< data.length; j++) {
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(`Lesson Nr. ${j+1}`));
                parent.appendChild(h1);

                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(""));
                parent.appendChild(h1);



                // vi pusher titlen til de forskellige lektioner til et array
                lessonIds.push(data[j][Object.keys(data[j])[0]])

                for(let i = 0;i<Object.keys(data[j]).length;i++){
                    if(i===0||i===7||i===8){
                        console.log(`Ignore ${i} in loop`)
                    } else {
                        // Text
                        var p = document.createElement("p");
                        p.appendChild(document.createTextNode(Object.keys(data[j])[i]));
                        parent.appendChild(p);

                        // Value
                        var p = document.createElement("p");
                        p.appendChild(document.createTextNode(data[j][Object.keys(data[j])[i]]));
                        parent.appendChild(p);
                    } }

                var div = document.createElement("div");
                var button = document.createElement("button");
                
                button.id = lessonIds[j]
                button.addEventListener("click", function() {

fetch('/deleteLesson/'+this.id,{method: 'DELETE'}).then(function(response) {

    if(response.ok){
        console.log("Lesson was deleted");
        return window.location.replace("/lessonsAdmin")
    }
    throw new Error('Request failed')
}).catch(function(error){
    console.log(error)
})
                })

                button.appendChild(document.createTextNode("Delete the lesson"));
                div.appendChild(button);
                parent.appendChild(div);

                var div = document.createElement("div");
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(""));
                div.appendChild(h1);
                parent.appendChild(div);

                var div = document.createElement("div");
                var button2 = document.createElement("button");

                button2.id = lessonIds[j]
                button2.addEventListener("click", function() {
                    document.cookie = `lesson=${this.id}`
                    window.location.replace("/updateLesson")
                })

                button2.appendChild(document.createTextNode("Change the information"));
                div.appendChild(button2);
                parent.appendChild(div);

                var div = document.createElement("div");
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(""));
                div.appendChild(h1);
                parent.appendChild(div);

                var div = document.createElement("div");
                var button2 = document.createElement("button");

                button2.id = lessonIds[j]
                button2.addEventListener("click", function() {
                    document.cookie = `lesson=${this.id}`
                    window.location.replace("/findPart")
                })

                button2.appendChild(document.createTextNode("See Participants"));
                div.appendChild(button2);
                parent.appendChild(div);

                var div = document.createElement("div");
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(""));
                div.appendChild(h1);
                parent.appendChild(div);
            }
        }).catch((e) => {
            console.log(e);
        })
    }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;">
</div>
</body>
</html>
