<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header_Customer') -%>
<%- include('layouts/style') -%>

<body onload="getLessonInfo()">
<br>

    <script type="text/javascript"  >
        function getLessonInfo () {
            fetch("http://localhost:3000/findLessonsCustomer").then((res) => {
                return  res.json();
            }).then((data) =>{

                var parent = document.getElementById("output");
                let listOfLessons = []
                let listOfID = []

                for(var j = 0; j< data.length; j++) {

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode("Lektion!!"));
                    parent.appendChild(h1);

                    var h1 = document.createElement("h1");
                    h1.appendChild(document.createTextNode(""));
                    parent.appendChild(h1);

                    let lessonPropertyNames = [ "_id", "Title", "Room", "Participants","Teacher" , "Time", "Duration", "Timestamp","_v"];

                    listOfLessons.push(data[j][lessonPropertyNames[2]])
                    console.log(listOfLessons)

                    for(let i = 0;i<Object.keys(data[j]).length;i++){
                        if(i==0){
                            console.log(data[j][lessonPropertyNames[i]])
                            listOfID.push(data[j][lessonPropertyNames[i]])
                        } else if(i==8||i==7) {
                        console.log(`Ignore ${i} in loop`)}    else
                         {
                            // Text
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(Object.keys(data[j])[i]));
                            parent.appendChild(p);

                            // Value
                            var p = document.createElement("p");
                            p.appendChild(document.createTextNode(data[j][lessonPropertyNames[i]]));
                            parent.appendChild(p);

                            console.log(data[j][lessonPropertyNames[i]])
                        }
                    }
                    var div = document.createElement("div");
                    var button = document.createElement("button");


                    button.id = listOfLessons[j]
                    button.name = j
                    button.addEventListener("click", function() {
                        console.log(this.name)
                     /*   if(data[this.name][lessonPropertyNames[0]].includes(cookieUsername)){
                            return alert("You cannot book the same lesson twice")
                        }*/

                        fetch('/createBooking/'+JSON.stringify(listOfID[this.name]),{method: 'PUT'}).then((res)=>{

                            return res.text();
                        })
                            .then((data)=> {
                            console.log(data)
if(data=="error"){
    alert("You cannot book the same lesson twice")
}
                if(data=="error2"){
                    alert("The lesson is fully booked")
                }
                           else{
                                console.log("Click was recorded");
                                return window.location.replace("/lessonsCustomer")
                            }
                        }).catch(function(error){
                            console.log(error)
                        })
                    })

                    button.appendChild(document.createTextNode("Book lektion"));
                    div.appendChild(button);
                    parent.appendChild(div);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(""));
                    parent.appendChild(p);
                }
            }).catch((e) => {
                console.log(e);
            })
        }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>
</html>
