<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header_LoginAndRegister') -%>
<%- include('layouts/style') -%>
<body>
<br>
<br>

<br>Enter your username and password <br>
<br>

<input
        type="text"
        id="Username"
        placeholder="Username"

>
<br>
<br>
<input
        type="Password"
        id="Password"
        placeholder="Password"

>
<br>
<br>

<input
        id="login_btn"
        type="submit"
        value="Login User"
        href="/loginuser"

/>
<br>
<br>

<script>
    document.getElementById("login_btn").addEventListener("click", function() {

if(document.getElementById("Username").value=="" && document.getElementById("Password").value=="" ){
   return  alert("Please enter your username and password")
}
        if(document.getElementById("Username").value=="" ){
           return  alert("Please enter your username")
        }
        if(document.getElementById("Password").value=="" ){
           return  alert("Please enter your password")
        }
        /* OPTIMERET KODE
        let array = JSON.stringify([
            document.getElementById("Username").value,
            document.getElementById("Password").value
        ])
        console.log(array) */

        // OPTIMERET KODE Options er indholdet man sender med fetchen
        /* var options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify([
                document.getElementById("Username").value,
                document.getElementById("Password").value
            ])
        }; */

        fetch("/loginuser", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify([
                document.getElementById("Username").value,
                document.getElementById("Password").value
            ])
        })
            .then((res)=>{
                return res.text();
            })
            .then((data)=>{
                if(data == "Password is wrong"){
                    return alert(data)
                }
                if(data == "Username doesn't exist"){
                    return alert(data)
                }
                // relocated til adminside hvis man er admin 
               if(JSON.parse(data)[1]==="Admin"){
                   return window.location.href = "/adminPage";
               }
                // relocated til mypageuser hvis man er customer 
                if(JSON.parse(data)[1]==="Customer"){
                window.location.href = "/customerPage";}
            })
            .catch((e)=>{
                console.log(e.name+"\n"+e.description);
            });
    })
</script>
</body>
</html>
