<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div style="" class="topnav">
        <a class="active" href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</head>
<style>
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #4C4480;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #C43796;
        color: white;
    }
</style>
<body>
<br>
<br>

<br>Enter your username and password <br>
<br>

<input
        type="text"
        id="Username"
        placeholder="Username"

>
<br>
<br>
<input
        type="Password"
        id="Password"
        placeholder="Password"

>
<br>
<br>

<input
        id="login_btn"
        type="submit"
        value="Login User"

/>
<br>
<br>

<script>
    document.getElementById("login_btn").addEventListener("click", function() {

if(document.getElementById("Username").value=="" && document.getElementById("Password").value=="" ){
   return  alert("Please enter your username and password")
}
        if(document.getElementById("Username").value=="" ){
           return  alert("Please enter your username")
        }

        if(document.getElementById("Password").value=="" ){
           return  alert("Please enter your password")
        }
        let array = JSON.stringify([
            document.getElementById("Username").value,
            document.getElementById("Password").value
        ])
        console.log(array)

        var options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: array
        };
        fetch("/loginuser",options)
            .then((res)=>{
                return res.text();
            })
            .then((data)=>{
                if(data == "Password is wrong"){
                    return alert(data)
                }
                if(data == "Username doesn't exist"){
                    return alert(data)
                }

               if(JSON.parse(data)[1]==="Admin"){
                   return window.location.href = "/adminSite";
               }
                if(JSON.parse(data)[1]==="Customer"){
                document.cookie = `username=${JSON.parse(data)[0]}`
                window.location.href = "/myPageUser";}
            })
            .catch((e)=>{
                console.log(e.name+"\n"+e.description);
            });

    })

</script>
</body>
</html>