<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="" class="topnav">
        <a href="/myPageUser">Min side</a>
        <a class="active" href="/myClasses">Mine undervisningstimer</a>
        <a href="/classSiteUser">Alle undervisningstimer</a>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log ud</a>
        </li>

    </div>
    <h1 id="h1">Mine undervisningstimer</h1>

    <!--Skal have henvisning så den henter "title" fra js. filen.-->
</head>

<style>
    /* Her har vi lavet en navigationslinje/bar ved hjælp af eksemplet i denne kilde: https://www.w3schools.com/howto/howto_js_topnav.asp
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #4C4480;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navLogOut {
        float: right!important;

    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #C43796;
        color: white;
    }
</style>

<br>

<body onload="getYourLessons()">
<br>

<script type="text/javascript"  >
    function getYourLessons () {
        let cookieInfo = document.cookie
        console.log(cookieInfo)
        if(cookieInfo.includes(";")) {
            for(i=0;i<cookieInfo.split(';').length;i++){
                if(cookieInfo.split(';')[i].includes("username")){
                    var usernameValue = cookieInfo.split(';')[i].split("=")[1]
                }
            }
        } else {
            var usernameValue = cookieInfo.split("=")[1]
        }
        console.log(usernameValue);

        fetch("/mylessonboard/"+usernameValue).then((res) => {
            return  res.json();
        }).then((data) =>{

            var parent = document.getElementById("output");
            let lessonTitles = []

            for(var j = 0; j< data.length; j++) {
                var div1 = document.createElement("div");
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode("Lektion!!"));
                div1.appendChild(h1);
                parent.appendChild(div1);


                var div2 = document.createElement("div");
                var h1 = document.createElement("h1");
                h1.appendChild(document.createTextNode(""));
                div2.appendChild(h1);
                parent.appendChild(div2);

                let lessonPropertyNames = ["Participantnames", "_id", "Title", "Locales", "Time", "Duration", "Participants", "Teachers", "Timestamp","_v"];

                lessonTitles.push(data[j][lessonPropertyNames[2]])
                console.log(lessonTitles)

                for(let i = 0;i<Object.keys(data[j]).length;i++){
                    if(i==1||i==8||i==9){
                        console.log(`Ignore ${i} in loop`)
                    } else {
                        // Text
                        var div1 = document.createElement("div");
                        var p = document.createElement("p");
                        p.appendChild(document.createTextNode(Object.keys(data[j])[i]));
                        div1.appendChild(p);

                        // Value
                        var div2 = document.createElement("div");
                        var p = document.createElement("p");
                        p.appendChild(document.createTextNode(data[j][lessonPropertyNames[i]]));
                        div2.appendChild(p);

                        parent.appendChild(div1);
                        parent.appendChild(div2);

                    } }

                var div5 = document.createElement("div");
                var button = document.createElement("button");


                button.id = lessonTitles[j]
                button.addEventListener("click", function() {
                    let lessonID = this.id

                    fetch('/cancellesson/'+JSON.stringify([lessonID,usernameValue]),{method: 'PUT'}).then(function(response) {

                        if(response.ok){
                            console.log("Click was recorded");
                            return window.location.replace("/myClasses")
                        }
                        throw new Error('Request failed')
                    }).catch(function(error){
                        console.log(error)
                    })
                })

                button.appendChild(document.createTextNode("Afbestil"));
                div5.appendChild(button);
                parent.appendChild(div5);

                var div6 = document.createElement("div");
                var h2 = document.createElement("h1");
                h2.appendChild(document.createTextNode(""));
                div6.appendChild(h2);
                parent.appendChild(div6);

            }
        }).catch((e) => {
            console.log(e);
        })
    }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>
</html>