<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <div style="" class="topnav">
            <a href="/login">Login</a>
            <a class="active" href="/register">Register</a>
        </div>
    </head>
    <style>
        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #4C4480;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #C43796;
            color: white;
        }
    </style>
    <body>
    <br>
    <script>
      /*  function kasper () {
            console.log("hej")
            var url = window.location.pathname + window.location.search;
            var getQuery = url.split('?')[1];
            var params = getQuery.split('=')[1];
            alert(params);
        }*/
    </script>


<h1>Sign up here!</h1>

<div>

<p>Name:</p>

    <input
            id="Name"
            type="text"
            value = "Peder"
            placeholder="Name"
    />
    <br>
        <p>Birthday:</p>
    <select  id="Day">
        <option selected disabled value="">Day</option>
        <option value="01" >01</option>
        <option value="02" >02</option>
        <option value="03" >03</option>
        <option value="04" >04</option>
        <option value="05" >05</option>
        <option value="06" >06</option>
        <option value="07" >07</option>
        <option value="08" >08</option>
        <option value="09" >09</option>
        <option value="10" >10</option>
        <option value="11" >11</option>
        <option value="12" >12</option>
        <option value="13" >13</option>
        <option value="44" >14</option>
        <option value="15" >15</option>
        <option value="16" >16</option>
        <option value="17" >17</option>
        <option value="18" >18</option>
        <option value="19" >19</option>
        <option value="20" >20</option>
        <option value="21" >21</option>
        <option value="22" >22</option>
        <option value="23" >23</option>
        <option value="24" >24</option>
        <option value="25" >25</option>
        <option value="26" >26</option>
        <option value="27" >27</option>
        <option value="28" >28</option>
        <option value="29" >29</option>
        <option value="30" >30</option>
        <option value="31" >31</option>

    </select>

        <select  id="Month">
            <option selected disabled value="">Month</option>
            <option value="01" >01</option>
            <option value="02" >02</option>
            <option value="03" >03</option>
            <option value="04" >04</option>
            <option value="05" >05</option>
            <option value="06" >06</option>
            <option value="07" >07</option>
            <option value="08" >08</option>
            <option value="09" >09</option>
            <option value="10" >10</option>
            <option value="11" >11</option>
            <option value="12" >12</option>
        </select>

        <input
                id="Year"
                type="text"
                value = "2000"
                size="4"
                placeholder="Year"
        />
        <br>

        <p>Gender:</p>

        <select  id="Gender"  >
            <option selected disabled value="">Choose gender</option>
            <option value="Man" >Man</option>
            <option value="Woman" >Woman</option>
            <option value="Else" >Else</option>
        </select>

    <br>

<p>Phonenumber:</p>
      <input
              id="Phonenumber"
              type="number"
              placeholder="Phonenumber"
              value = "50456111"


      />
    <br>

        <p>Email:</p>
      <input
              id="Email"
              type="text"
              placeholder="Email"
              value = "peder0210@gmail.com"

      />
    <br>

<p>Username:</p>
    <input
            id="Username"
            type="text"
            placeholder="Username"

    />
    <br>

        <p>Password:</p>
    <input
            id="Password"
            type="password"
            placeholder="Adgangskode"
            value = "1111"

    />
    <br>
        <p>Usertype:</p>

        <select  id="Usertype"  >
            <option selected disabled value="">Choose profile</option>
            <option value="Customer" >Customer</option>
            <option value="Teacher" >Teacher</option>
            <option value="Admin" >Admin</option>
        </select>
    <br>
        <br>


        <input
                id="registration_btn"
                type="submit"
                value="Create User"

        />
    <br>

    <br>
    <a

            href="login">
        <button>Go to Login</button></a>
</div>
    <script>
        document.getElementById("registration_btn").addEventListener("click", function() {
            let obj = { Name: document.getElementById("Name").value,
                Birthday: `${document.getElementById("Day").value}-${document.getElementById("Month").value}-${document.getElementById("Year").value}`,
                Gender: document.getElementById("Gender").value,
                Phonenumber: document.getElementById("Phonenumber").value,
                Email: document.getElementById("Email").value ,
                Username: document.getElementById("Username").value,
                Password: document.getElementById("Password").value,
                Usertype: document.getElementById("Usertype").value
            }
            let values = Object.values(obj)
            let names = Object.getOwnPropertyNames(obj)
            console.log(document.getElementById("Month").value)
            console.log(obj)
            console.log(names)
            let alertmessage = "Please fill out or correct these fields:"
            let counter = 0

            for(let i=0;i<values.length;i++) {
                if(i==0||i==2||i==5||i==7) {
                    if (values[i] == "") {
                        counter++
                        alertmessage += `\n ${counter}: Fill out your ${names[i]} `


                    }
                }

            }

            if(values[1].length!==10){
                counter++
                alertmessage += `\n ${counter}. Fill out your birthday `
            }
            if(values[3].length!==8){
                counter++
                alertmessage += `\n ${counter}. Your phonenumber must consist of 8 digits `
            }

            if(values[4].includes("@")==false){
                counter++
                alertmessage += `\n ${counter}. Your email must include an @`
            }


            if(values[6].length<4){
                counter++
                alertmessage += `\n ${counter}. Your password must consist 4 characters or more`
            }



              if (counter>0){
                  return alert(alertmessage)
              }

            let params = JSON.stringify(obj)
            console.log(params)
                fetch('/registerUser/'+params,{method: 'POST'}).then((res)=>{

                    return res.text();
                })
                    .then((data)=> {
                        console.log(data);
                        if (data == "error") {
                            alert("User doesn't have an unique username")
                        } else {

                        // Create session cookie here, for continous authentication
                        alert(`User ${document.getElementById("Username").value} has been created`);
                        return window.location.replace("/login")
                    } })
                    .catch((e)=>{
                        console.log(e.name+"\n"+e.description);
                    });

        })




        </script>

</div>
</body>
</html>