<!DOCTYPE html>
<html lang="en">
  <!-- Header hentes fra lokal fil -->
  <%- include('layouts/header_Admin') -%>
  <%- include('layouts/style') -%>
  <body onload="changeLesson()">
    <br>
    <script>
      function changeLesson(){
        fetch("/findOneLesson/"+document.cookie.split("=")[1])
        .then((res)=>{
          return  res.json();
        })
        .then((data)=>{
          var parent = document.getElementById("output");
          //Inputfelter bliver skabt ud fra et loop, hvor de eksistende data fra lektionen bliver udfyldt. Dette er smart, da man ikke skal genskrive informationer, som man ikke ønskes ændres
          for(i=0;i<Object.keys(data).length;i++){
            if(i===7||i===8||i===0){
            console.log(`Ignore ${i} in loop`)
            }
            else if(i===5){
              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Time of day:"));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode(""));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Hour"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select1";
              for(j=0;j<24;j++){
                var option = document.createElement("option");
                if(j<10){
                  option.value = `0${j}`;
                  option.text = `0${j}`;
                  console.log(data[Object.keys(data)[i]].substring(3,5));
                  if(`0${j}`===data[Object.keys(data)[i]].substring(3,5)){
                    option.selected = true
                  }
                }
                else{
                  option.value = `${j}`;
                  option.text = `${j}`;
                  if(`${j}`=== data[Object.keys(data)[i]].substring(3,5)) {
                    option.selected = true;
                  }
                }
                select.appendChild(option);
              }

              div.appendChild(select);
              parent.appendChild(div);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Minute"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select2";
              for(j=0;j<60;j+=5){
                var option = document.createElement("option");
                if(j<10){
                  option.value = `0${j}`;
                  option.text = `0${j}`;
                  console.log(data[Object.keys(data)[i]].substring(6,8));
                  if(`0${j}`=== data[Object.keys(data)[i]].substring(6,8)) {
                    option.selected = true
                  }
                }
                else{
                  option.value = `${j}`;
                  option.text = `${j}`;
                  if(`${j}`=== data[Object.keys(data)[i]].substring(6,8)) {
                    option.selected = true
                  }
                }
                select.appendChild(option);
              }

              div.appendChild(select);
              parent.appendChild(div);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Date:"));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode(""));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Day"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select3";
              for(j=1;j<32;j++){
                var option = document.createElement("option");
                if(j<10){
                  option.value = `0${j}`;
                  option.text = `0${j}`;
                  console.log(data[Object.keys(data)[i]].substring(13,15));
                  if(`0${j}`=== data[Object.keys(data)[i]].substring(13,15)) {
                  option.selected = true
                  }
                }
                else{
                  option.value = `${j}`;
                  option.text = `${j}`;
                  if(`${j}`=== data[Object.keys(data)[i]].substring(13,15)) {
                    option.selected = true
                  }
                }
                select.appendChild(option);
              }
              div.appendChild(select);
              parent.appendChild(div);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Month"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select4";
              for(j=1;j<13;j++){
                var option = document.createElement("option");
                if(j<10){
                  option.value = `0${j}`;
                  option.text = `0${j}`;
                  console.log(data[Object.keys(data)[i]].substring(16,18));
                  if(`0${j}`=== data[Object.keys(data)[i]].substring(16,18)) {
                    option.selected = true
                  }
                }
                else{
                  option.value = `${j}`;
                  option.text = `${j}`;
                  if(`${j}`=== data[Object.keys(data)[i]].substring(16,18)){
                    option.selected = true
                  }
                }
                select.appendChild(option);
              }
              div.appendChild(select);
              parent.appendChild(div);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Year"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select5";
              for(j=2019;j<2023;j++){

                var option = document.createElement("option");
                option.value = `${j}`;
                option.text = `${j}`;
                if(`${j}`=== data[Object.keys(data)[i]].substring(19,23)) {
                  option.selected = true
                }
                select.appendChild(option);
              }
              div.appendChild(select);
              parent.appendChild(div)
            }
            else if(i===6){
              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Duration:"));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode(""));
              parent.appendChild(p);

              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Hour"));
              parent.appendChild(p);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select6";
              for(j=0;j<3;j++){
                var option = document.createElement("option");
                option.value = `${j}`;
                option.text = `${j}`;
                if(`${j}`=== data[Object.keys(data)[i]].substring(0,1)) {
                  option.selected = true
                }
                select.appendChild(option);
              }
              div.appendChild(select);
              parent.appendChild(div);

              var div = document.createElement("div");
              var p = document.createElement("p");
              p.appendChild(document.createTextNode("Minute"));

              div.appendChild(p);
              parent.appendChild(div);

              var div = document.createElement("div");
              var select = document.createElement("select");
              select.id = "select7";
              for(j=0;j<60;j+=5){
                var option = document.createElement("option");
                if(j<10){
                  option.value = `0${j}`;
                  option.text = `0${j}`;
                  console.log(data[Object.keys(data)[i]].substring(2,4));
                  if(`0${j}`===data[Object.keys(data)[i]].substring(2,4)) {
                    option.selected = true
                  }
                }
                else{
                  option.value = `${j}`;
                  option.text = `${j}`;
                  if(`${j}`===data[Object.keys(data)[i]].substring(2,4)) {
                    option.selected = true
                  }
                }
                select.appendChild(option);
              }
              div.appendChild(select);
              parent.appendChild(div)
            }
            else{
              // Text
              var p = document.createElement("p");
              p.appendChild(document.createTextNode(Object.keys(data)[i]));
              parent.appendChild(p);

              // Value
              var div = document.createElement("div");
              var input = document.createElement("input");
              input.id = i;
              input.value = data[Object.keys(data)[i]];
              input.appendChild(document.createTextNode(data[Object.keys(data)[i]]));
              div.appendChild(input);
              parent.appendChild(div);
            }
          }

          var div = document.createElement("div");
          var button = document.createElement("button");
          //Lektionen bliver opdateret igen, og samme metode som createLesson sker.
          button.addEventListener("click", function() {
            let obj = {
              Title: document.getElementById("1").value,
              Room: document.getElementById("2").value,
              Participants: document.getElementById("3").value,
              Teacher: document.getElementById("4").value,
              Time: `KL ${document.getElementById("select1").value}.${document.getElementById("select2").value} ---  ${document.getElementById("select3").value}-${document.getElementById("select4").value}-${document.getElementById("select5").value}` ,
              Duration: `${document.getElementById("select6").value}.${document.getElementById("select7").value}`
            };

            let alertmessage = "Please fill out or correct these fields:";

            for(let i=0;i<Object.values(obj).length;i++){
              if((i===0||i===1||i===3)&&Object.values(obj)[i] === "") {
                alertmessage += `\n * Fill out your ${Object.keys(obj)[i]} `
              }
            }
            if(isNaN(document.getElementById("3").value)||document.getElementById("3").value===""){
              console.log(document.getElementById("2").value.length);
              alertmessage += `\n * Your Participants must be a number `
            }
            if (alertmessage!=="Please fill out or correct these fields:"){
              return alert(alertmessage)
            }

            fetch('/updateLesson/'+JSON.stringify([document.cookie.split("=")[1], obj]),{method: 'PUT'})
            .then((res)=>{
              return res.text();
            })
            .then((data)=>{
              console.log(data);
              if (data === "Lesson doesn't have an unique title") {
                return alert(data)
              }
              // Create session cookie here, for continous authentication
              return window.location.replace("/lessonsAdmin")
            })
            .catch((e)=>{
              console.log(e.name+"\n"+e.description);
            });
          });
          button.appendChild(document.createTextNode("Change the information"));
          div.appendChild(button);
          parent.appendChild(div);
        })
        .catch((e) => {
          console.log(e);
      })}
    </script>
    <div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
    <br>
  </body>
</html>
