<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header_Customer') -%>
<%- include('layouts/style') -%>
<body onload="changeUserInfo()">
<br>
<script>
    function changeUserInfo () {
        fetch("/findCustomer").then((res) => {
            return  res.json();
        }).then((data) =>{
            var parent = document.getElementById("output");
            // looper gennem keys for data,
            for(i=0;i<Object.keys(data).length;i++){
                if(i===0||i===9||i===7||i===8||i===10){
                    console.log(`Ignore ${i} in loop`)
                }else if(i==2) {
                    // vi har en else if for birthday, fordi de ikke kan være i inputsfelt ligesom de andre felter.
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Birthday:"));
                    parent.appendChild(p);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(""));
                    parent.appendChild(p);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Day"));
                    parent.appendChild(p);

                    var div = document.createElement("div");
                    var select = document.createElement("select");
                    select.id = "select1";
                    // Loopet repræsentere datoerne/dagene i løbet af en måned
                    for(j=1;j<32;j++) {
                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`;
                            option.text = `0${j}`;
                            // vi tager keys fra birthay og laver en substiring fra 0 til 2
                            console.log(data[Object.keys(data)[i]].substring(0,2));
                            if(`0${j}`===data[Object.keys(data)[i]].substring(0,2)) {
                                // den j værdi der svare til vores fødselsdag bliver selected som placeholder-værdien
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`;
                            option.text = `${j}`;
                            if(`${j}`===data[Object.keys(data)[i]].substring(0,2)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }
                    div.appendChild(select);
                    parent.appendChild(div);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Month"));
                    parent.appendChild(p);

                    var div = document.createElement("div");
                    var select = document.createElement("select");
                    select.id = "select2";
                    console.log(data[Object.keys(data)[i]].substring(3,5));
                    // fordi det omhandler måneder looper vi til 12
                    //Samme metode som updatelesson
                    for(j=1;j<13;j++) {
                        var option = document.createElement("option");
                        if(j<10) {
                            option.value = `0${j}`;
                            option.text = `0${j}`;
                            if(`0${j}`===data[Object.keys(data)[i]].substring(3,5)) {
                                option.selected = true
                            }
                        } else{
                            option.value = `${j}`;
                            option.text = `${j}`;
                            if(`${j}`===data[Object.keys(data)[i]].substring(3,5)) {
                                option.selected = true
                            }
                        }
                        select.appendChild(option);
                    }
                    div.appendChild(select);
                    parent.appendChild(div);

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Year"));
                    parent.appendChild(p);

                    var div = document.createElement("div");
                    var input = document.createElement("input");
                    input.id = i;

                    input.value = data[Object.keys(data)[i]].substr(data[Object.keys(data)[i]].length-4);
                    input.appendChild(document.createTextNode(data[Object.keys(data)[i]].substr(data[Object.keys(data)[i]].length-4)));
                    div.appendChild(input);

                    parent.appendChild(div);
                } else if(i===3){
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Gender"));
                    parent.appendChild(p);

                    var div = document.createElement("div");
                    var select = document.createElement("select");
                    select.id = "select3";
                    let array = ["Man","Woman","Else"];
                    for(j=0;j<array.length;j++) {

                        var option = document.createElement("option");

                        option.value = array[j];
                        option.text = array[j];
                        console.log(data[Object.keys(data)[i]]);
                        if(array[j]===data[Object.keys(data)[i]]) {

                            option.selected = true
                        }
                        select.appendChild(option);
                    }
                    div.appendChild(select);
                    parent.appendChild(div)
                } else {

                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(Object.keys(data)[i]));
                    parent.appendChild(p);

                    var div = document.createElement("div");
                    var input = document.createElement("input");
                    input.id = i;
                    input.value = data[Object.keys(data)[i]];
                    input.appendChild(document.createTextNode(data[Object.keys(data)[i]]));
                    div.appendChild(input);
                    parent.appendChild(div);
                }}

            var div = document.createElement("div");
            var button = document.createElement("button");
            button.addEventListener("click", function() {
                let obj = { Name: document.getElementById("1").value,
                    Birthday: `${document.getElementById("select1").value}-${document.getElementById("select2").value}-${document.getElementById("2").value}`,
                    Gender: document.getElementById("select3").value,
                    Phonenumber: document.getElementById("4").value,
                    Email: document.getElementById("5").value ,
                    Username: document.getElementById("6").value
                };

                let alertmessage = "Please fill out or correct these fields:";

                for(let i=0;i<Object.values(obj).length;i++) {
                    if((i===0||i===5)&&Object.values(obj)[i] === "") {
                            alertmessage += `\n * Fill out your ${Object.keys(obj)[i]} `
                    }
                }
                if(document.getElementById("2").value.length!==4||isNaN(document.getElementById("2").value)){
                    console.log(document.getElementById("2").value.length);
                    alertmessage += `\n * Your Birthday must consist of 4 digits `
                }
                if(Object.values(obj)[3].length!==8||isNaN(document.getElementById("4").value)){
                    console.log(Object.values(obj)[3]);
                    alertmessage += `\n * Your phonenumber must consist of 8 digits `
                }
                if(Object.values(obj)[4].includes("@")===false){
                    alertmessage += `\n * Your email must include an @`
                }
                if (alertmessage!=="Please fill out or correct these fields:"){
                    return alert(alertmessage)
                } fetch('/updateUser/'+JSON.stringify(obj),{method: 'PUT'}).then((res)=>{

                    return res.text();
                })
                    .then((data)=> {
                        console.log(data);
                        if (data === "User doesn't have an unique username") {
                            return alert(data)
                        }
                            // Create session cookie here, for continous authentication
                            return window.location.replace("/customerPage")
                         })
                    .catch((e)=>{
                        console.log(e.name+"\n"+e.description);
                    });
            });
            button.appendChild(document.createTextNode("Change the information"));
            div.appendChild(button);
            parent.appendChild(div);
        }).catch((e) => {
            console.log(e);
        })
    }
</script>
<div id="output" style="display:grid;grid-template-columns:auto auto;"></div>
</body>
</html>
